/*
* Base
* ------------------------------
*/

:root {
	font-size: calc(1rem + 0.8vmin);
}

body {
	background-color: var(--bodyBg);
	color: var(--bodyColor);
	font-family: var(--fontFamilyBase);
	font-size: var(--fontSizeBase);
	font-weight: var(--fontWeightBase);
	line-height: var(--lineHeightBase);
	padding: 6vw;

	@media (prefers-color-scheme: dark) {
		/* Dark Mode */
		background-color: var(--grayDarkest);
		color: var(--white);
	}
}

::selection {
	background: var(--brandPrimary);
	text-shadow: none;
}

[tabindex='-1']:focus {
	outline: none !important;
}

a,
area,
button,
[role='button'],
input:not([type='range']) label,
select,
summary,
textarea {
	touch-action: manipulation;
}

svg > use {
	fill: currentColor;
}
