/*
 * Link
 * ------------------------------
*/

a {
	background-color: transparent;
	color: var(--linkColor);
	transition: color var(--transitionTimingBase) var(--easePrimary);
	will-change: color;

	&:hover {
		color: var(--linkHoverColor);
		text-decoration: none;
	}
}
