/*
* Theme
* ------------------------------
*/

/* Dark Mode */
.themeDark {
	--bodyBg: var(--grayDarkest);
	--bodyColor: var(--white);
	--linkColor: var(--grayLightest);
	--linkHoverColor: var(--grayLight);
	--scrollbar-thumb-background: var(--white);
}
