{
	"extends": ["airbnb", "prettier"],
	"plugins": ["import", "jsx-a11y", "promise", "react", "prettier"],
	"env": {
		"browser": true,
		"es6": true
	},
  "rules": {
		"prettier/prettier": "error",
		"no-var": "error",
		"no-unused-vars": 1,
		"react/destructuring-assignment": "off",
		"react/jsx-filename-extension": "off",
		"react/jsx-indent": [2, "tab"],
		"react/jsx-indent-props": [2, "tab"],
		"react/jsx-one-expression-per-line": "off",
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error",
		"react/no-danger": "off",
		"react/prefer-stateless-function": "off",
		"react/prop-types": "off",
		"react/require-default-props": "off"
  }
}
