html {
	scrollbar-color: var(--scrollbar-thumb-background);
	scrollbar-width: var(--scrollbar-width);
}

::-webkit-scrollbar {
	width: var(--scrollbar-width);
	height: var(--scrollbar-height);
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track-background);
	border: solid var(--black);
	border-width: 0 0 0 1px;
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-background);
}
