.transitionContainer {
	overflow: hidden;
	will-change: opacity;
}

/* .transitionContainer {
	float: left;
	overflow: hidden;
	position: relative;
	width: 100%;
	will-change: opacity;
}

.transitionContainer + .transitionContainer {
	margin-left: -100%;
	margin-right: 0;
} */
