/*
* Variables
* ------------------------------
*/

:root {
	/*
	* Colors
	* ------------------------------
	*/

	--white: #fff;
	--black: #000;
	--red: #d9534f;
	--orange: #f0ad4d;
	--yellow: #ffd500;
	--green: #12f292;
	--blue: #2095f0;
	--teal: #68b7f5;
	--pink: #ed4e6e;
	--purple: #613d7c;
	--blackOff: #0d0d0d;
	--grayDarkest: #181818;
	--grayDark: #292b2c;
	--gray: #464a4c;
	--grayLight: #aaa;
	--grayLighter: #eceeef;
	--grayLightest: #f7f7f9;

	/* Colors:Brand */
	--brandPrimary: var(--blue);
	--brandSuccess: var(--green);
	--brandInfo: var(--teal);
	--brandWarning: var(--orange);
	--brandDanger: var(--pink);
	--brandInverse: var(--grayDark);

	/* Colors:Theme */
	--bodyBg: var(--white);
	--bodyColor: var(--grayDarkest);
	--linkColor: var(--blackOff);
	--linkHoverColor: rgba(0, 0, 0, 0.33);

	/*
	* Fonts
	* ------------------------------
	*/

	/* Fonts:Families */
	--fontFamilySansSerif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
	--fontFamilySerif: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	--fontFamilyMonospace: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	--fontFamilyBase: var(--fontFamilySerif);

	/* Fonts:Sizes */
	--fontSizeBase: 1rem;
	--fontSizeXs: 0.75rem;
	--fontSizeSm: 0.875rem;
	--fontSizeMd: 1.25rem;
	--fontSizeLg: 1.5rem;
	--fontSizeXl: 1.875rem;
	--fontSizeXxl: 2.25rem;

	/* Fonts:Weights */
	--fontWeightNormal: 400;
	--fontWeightBold: 700;
	--fontWeightBase: var(--fontWeightNormal);

	/* Fonts:Line-Heights */
	--lineHeightBase: 1.5;
	--lineHeightSm: 1.2;
	--lineHeightLg: 1.75;

	/* Fonts:Headings */
	--fontSizeH1: 2rem;
	--fontSizeH2: 1.5rem;
	--fontSizeH3: 1.17rem;
	--fontSizeH4: 1rem;
	--fontSizeH5: 0.83rem;
	--fontSizeH6: 0.67rem;

	/* Fonts:Headings:Settings */
	--headingsFontFamily: var(--fontFamilySansSerif);
	--headingsFontWeight: 700;
	--headingsLineHeight: 1.33;
	--headingsColor: inherit;

	/*
	* Media Queries
	* ------------------------------
	*/

	--mqXs: 0;
	--mqSm: 36rem; /* 576px */
	--mqMd: 48rem; /* 768px */
	--mqLg: 62rem;  /* 992px */
	--mqXl: 75rem;  /* 1200px */
	--mqXxl: 90rem; /* 1440px */

	/* stylelint-disable */
	@custom-media --minXs (min-width: var(--mqXs));
	@custom-media --minSm (min-width: var(--mqSm));
	@custom-media --minMd (min-width: var(--mqMd));
	@custom-media --minLg (min-width: var(--mqLg));
	@custom-media --minXl (min-width: var(--mqXl));
	@custom-media --minXxl (min-width: var(--mqXxl));
	@custom-media --maxSm (max-width: var(--mqSm));
	@custom-media --maxMd (max-width: var(--mqMd));
	@custom-media --maxLg (max-width: var(--mqLg));
	@custom-media --maxXl (max-width: var(--mqXl));
	@custom-media --maxXxl (max-width: var(--mqXxl));
	/* stylelint-enable */

	/*
	* Transitions
	* ------------------------------
	*/

	--easePrimary: cubic-bezier(0.51, 0.11, 0.59, 0.92);
	--easeOutPrimary: cubic-bezier(0.2, 0.42, 0.59, 0.92);
	--easeInPrimary: cubic-bezier(0.55, 0.12, 1, 1);
	--ease: cubic-bezier(0.43, 0.11, 0.41, 1);
	--easingCirc: cubic-bezier(0.075, 0.82, 0.165, 0);

	/* Transitions:Timings */
	--timingBase: 300ms;
	--timingMed: 600ms;
	--timingSlow: 900ms;
}
