/*
* Variables
* ------------------------------
*/

:root {
	/*
	* Colors
	* ------------------------------
	*/

	--white: #fff;
	--black: #000;
	--red: #d9534f;
	--orange: #f0ad4d;
	--yellow: #ffd500;
	--green: #12f292;
	--blue: #2095f0;
	--teal: #68b7f5;
	--pink: #ed4e6e;
	--purple: #613d7c;
	--blackOff: #0d0d0d;
	--grayDarkest: #181818;
	--grayDark: #24292e;
	--gray: #464a4c;
	--grayLight: #aaa;
	--grayLighter: #eceeef;
	--grayLightest: #f7f7f9;

	/* Colors:Brand */
	--brandPrimary: var(--blue);
	--brandSuccess: var(--green);
	--brandInfo: var(--teal);
	--brandWarning: var(--orange);
	--brandDanger: var(--pink);
	--brandInverse: var(--grayDark);

	/* Colors:Theme */
	--bodyBg: var(--white);
	--bodyColor: var(--grayDarkest);
	--linkColor: var(--blackOff);
	--linkHoverColor: rgba(0, 0, 0, 0.33);

	/*
	* Fonts
	* ------------------------------
	*/

	/* Fonts:Families */
	--fontFamilySansSerif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--fontFamilySerif: "Droid Serif", Georgia, "Times New Roman", Times, serif;
	--fontFamilyMonospace: Menlo, Monaco, Consolas, "Liberation Mono", "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
	--fontFamilyBase: var(--fontFamilySansSerif);

	/* Fonts:Sizes */
	--fontSizeBase: 1rem;
	--fontSizeXs: 0.75rem;
	--fontSizeSm: 0.875rem;
	--fontSizeMd: 1.25rem;
	--fontSizeLg: 1.5rem;
	--fontSizeXl: 1.875rem;
	--fontSizeXxl: 2.25rem;

	/* Fonts:Weights */
	--fontWeightNormal: 400;
	--fontWeightBold: 700;
	--fontWeightBase: var(--fontWeightNormal);

	/* Fonts:Line-Heights */
	--lineHeightBase: 1.5;
	--lineHeightSm: 1.2;
	--lineHeightLg: 1.75;

	/* Fonts:Headings */
	--fontSizeH1: 3.375rem;
	--fontSizeH2: 2.25rem;
	--fontSizeH3: 1.5rem;
	--fontSizeH4: 1rem;
	--fontSizeH5: 0.667rem;
	--fontSizeH6: 0.444rem;

	/* Fonts:Headings:Settings */
	--headingsFontFamily: var(--fontFamilySansSerif);
	--headingsFontWeight: 700;
	--headingsLineHeight: 1.33;
	--headingsColor: inherit;

	/*
	* Transitions
	* ------------------------------
	*/

	--easeBounce: cubic-bezier(0.25, 0.1, 0, 2.05);
	--easePrimary: cubic-bezier(0.51, 0.11, 0.59, 0.92);
	--easeOutPrimary: cubic-bezier(0.2, 0.42, 0.59, 0.92);
	--easeInPrimary: cubic-bezier(0.55, 0.12, 1, 1);
	--ease: cubic-bezier(0.43, 0.11, 0.41, 1);
	--easingCirc: cubic-bezier(0.075, 0.82, 0.165, 0);

	/* Transitions:Timings */
	--timingFast: 200ms;
	--timingBase: 400ms;
	--timingMed: 600ms;
	--timingSlow: 900ms;

	/*
	* Elements
	* ------------------------------
	*/

	/* Scrollbar */
	--scrollbar-width: 0.5rem;
	--scrollbar-track-background: transparent;
	--scrollbar-thumb-background: var(--black);
}
