/*
* Code
*
* Modified version of prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
* Based on https://github.com/chriskempson/tomorrow-theme
* ------------------------------
*/

code[class*="language-"],
pre[class*="language-"] {
	color: #d9e2e9;
	background: none;
	font-family: var(--fontFamilyMonospace);
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;
	tab-size: 4;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0.5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #191b21;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: 0.1em;
	border-radius: 0.3em;
	white-space: normal;
}

.token {
	&.comment,
	&.block-comment,
	&.prolog,
	&.doctype,
	&.cdata {
		color: #5c6370;
	}

	&.punctuation {
		color: #d9e2e9;
	}

	&.tag,
	&.attr-name,
	&.namespace,
	&.deleted {
		color: var(--pink);
	}

	&.function-name {
		color: var(--blue);
	}

	&.boolean,
	&.number,
	&.function {
		color: var(--orange);
	}

	&.property,
	&.class-name,
	&.constant,
	&.symbol {
		color: var(--yellow);
	}

	&.selector,
	&.important,
	&.atrule,
	&.keyword,
	&.builtin {
		color: #9166b3;
	}

	&.string,
	&.char,
	&.attr-value,
	&.regex,
	&.variable {
		color: var(--green);
	}

	&.operator,
	&.entity,
	&.url {
		color: var(--teal);
	}

	&.important,
	&.bold {
		font-weight: bold;
	}

	&.italic {
		font-style: italic;
	}

	&.entity {
		cursor: help;
	}

	&.inserted {
		color: #008000;
	}
}
